<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">{{name}}{{trainer}}{{sponsor}}</div>
            <div class="panel-body">

                {{#groups}}
                <div class="panel panel-default">
                    <div class="panel-heading">{{groupName}}</div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>教师勾选</th>
                            <th>学生勾选</th>
                            <th>checkpoint</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#checkpoints}}
                        <tr>
                            <td><input id="{{_id}}" class="checkpoint-item"
                                       {{#trainerChecked}} checked="checked" {{/trainerChecked}}
                                type="checkbox" >
                            </td>
                            <td>
                                <input type="checkbox" {{#traineeChecked}} checked="checked" {{/traineeChecked}} disabled >
                            </td>
                            <td>
                                {{name}}
                            </td>
                        </tr>
                        {{/checkpoints}}
                        </tbody>
                    </table>
                </div>
                {{/groups}}

            </div>
        </div>
    </div>
</div>

