<div class="container stations-body">
    <div class="row">
        {{#stations}}
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <h3>{{name}}</h3>

                    <p class="stationCourses">
                        <button id="{{_id}}" class="btn btn-default">所有课程</button>
                    </p>

                    <p class="stationStudents">
                        <button id="{{_id}}" class="btn btn-default">所有学生</button>
                    </p>
                </div>
            </div>
        </div>
        {{/stations}}
    </div>
</div>
