<div class="container">

    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <h3>欧亚学院</h3>

                    <p><a href="file:///Users/twer/Documents/git-projects/muggles/views/coach/course.html"
                          class="btn btn-default" role="button">进入课程</a></p>

                    <p><a href="file:///Users/twer/Documents/git-projects/muggles/views/coach/students.html"
                          class="btn btn-default" role="button">查看学生</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <h3>邮电大学</h3>

                    <p><a href="file:///Users/twer/Documents/git-projects/muggles/views/coach/course.html"
                          class="btn btn-default" role="button">进入课程</a></p>

                    <p><a href="file:///Users/twer/Documents/git-projects/muggles/views/coach/students.html"
                          class="btn btn-default" role="button">查看学生</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <h3>某某group</h3>

                    <p><a href="file:///Users/twer/Documents/git-projects/muggles/views/coach/course.html"
                          class="btn btn-default" role="button">进入课程</a></p>

                    <p><a href="file:///Users/twer/Documents/git-projects/muggles/views/coach/students.html"
                          class="btn btn-default" role="button">查看学生</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
