<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>muggles</title>
    <link href="../../bower_components/components-bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/student.css" rel="stylesheet">
    <link href="../../css/signin.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <div class="row show-space">
            <form class="form-signin">
                <h2 class="form-signin-heading">添加新检查点</h2>
                <label for="inputEmail" class="sr-only">检查点名称</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="" required autofocus>
                <label for="type" class="sr-only">所属分类</label>
                <input type="password" id="type" class="form-control" placeholder="" required>

                <a href="file:///Users/twer/Documents/git-projects/muggles/views/admin/user.html"
                   class="btn btn-default">确认添加</a>
            </form>
        </div>
    </div>
    <footer class="footer">
        <p>&copy; ThoughtWorks academy</p>
    </footer>
</div>
<!-- /container -->
</body>
</html>
