<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>muggles</title>

    <!-- Bootstrap core CSS -->
    <link href="../bower_components/components-bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/student.css" rel="stylesheet">

</head>

<body>
<div class="container">
    <div class="row show-space">
        <div class="col-lg-12">
            <div class="header">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" class="active"><a href="#">Home</a></li>
                        <li role="presentation"><a href="#">About</a></li>
                        <li role="presentation"><a href="#">Contact</a></li>
                    </ul>
                </nav>
                <h3 class="text-muted">muggles</h3>
            </div>

        </div>
    </div>

    <ol class="breadcrumb">
        <li><a href="#">课程列表</a></li>
        <li><a href="#">XXx课程</a></li>
        <li><a href="#">作业</a></li>

        <li class="active">第8次提交分析结果</li>
    </ol>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">分析结果</div>
                <div class="panel-body">
                    <p>这里显示每一次作业提交的分析结果，还没想清楚怎么显示好点。</p>
                    <a href="file:///Users/twer/Documents/git-projects/muggles/views/homeworks.html"
                       class="btn btn-default pull-right">返回</a>

                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>&copy; ThoughtWorks academy</p>
    </footer>
</div>
<!-- /container -->
</body>
</html>
