<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>muggles</title>

    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/student.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="header">

                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" class="active"><a href="#">Home</a></li>
                        <li role="presentation"><a href="#">About</a></li>
                        <li role="presentation"><a href="#">Contact</a></li>
                    </ul>
                </nav>
                <h3 class="text-muted">muggles</h3>
            </div>
        </div>
    </div>

    <ol class="breadcrumb">
        <li><a href="#">课程列表</a></li>
        <li><a href="#">XXx课程</a></li>
        <li class="active">作业</li>
    </ol>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">作业信息页面</div>
                <div class="panel-body">
                    <div class="row show-space">
                        <div class="col-lg-12">
                            <ul class="nav nav-tabs nav-justified">
                                <li role="presentation"><a href="file:///Users/twer/Documents/git-projects/muggles/views/course.html">CheckPoint</a></li>
                                <li role="presentation"  class="active"><a href="#">HomeWorks</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h5>添加作业</h5>
                        <label for="inputEmail" class="">GitHub库地址</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="git@github.com:facebook/react.git" required autofocus>
                        <label for="inputPassword" class="">Tag名称</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="v0.1.1" required>
                        <a href="file:///Users/twer/Documents/git-projects/muggles/views/analyzed.html" class="btn btn-default ">提交</a>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>提交次数</th>
                            <th>作业地址</th>
                            <th>修改提交</th>
                            <th>作业分析结果</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>2</td>
                            <td>Mark</td>
                            <td><a href="file:///Users/twer/Documents/git-projects/muggles/views/edit-homework.html">修改</a></td>
                            <td><a href="file:///Users/twer/Documents/git-projects/muggles/views/coach/analyzed.html">查看作业</a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Mark</td>
                            <td><a href="file:///Users/twer/Documents/git-projects/muggles/views/edit-homework.html">修改</a></td>
                            <td><a href="file:///Users/twer/Documents/git-projects/muggles/views/coach/analyzed.html">查看作业</a></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Mark</td>
                            <td><a href="file:///Users/twer/Documents/git-projects/muggles/views/edit-homework.html">修改</a></td>
                            <td><a href="file:///Users/twer/Documents/git-projects/muggles/views/coach/analyzed.html">查看作业</a></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td><a href="file:///Users/twer/Documents/git-projects/muggles/views/edit-homework.html">修改</a></td>
                            <td><a href="file:///Users/twer/Documents/git-projects/muggles/views/coach/analyzed.html">查看作业</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pull-right">
                        <a href="file:///Users/twer/Documents/git-projects/muggles/views/coach/courses.html" class="btn btn-default ">返回</a>
                    </div>
                    </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>&copy; ThoughtWorks academy</p>
    </footer>
</div>
</body>
</html>
