<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Log in :Muggles</title>

    <link href="../bower_components/components-bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/signin.css" rel="stylesheet">
</head>

<body>
<div class="container">

    <form class="form-signin js-signup">
        <h2 class="form-signin-heading">登陆</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="用户名" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="密码" required>
        <!--<div class="checkbox">-->
            <!--<label>-->
                <!--<input type="checkbox" value="remember-me"> 记住登陆信息-->
            <!--</label>-->
        <!--</div>-->
        <a  id='signup' href="file:///Users/twer/Documents/git-projects/muggles/views/courses.html" class="btn btn-default">登陆</a>
        <div id="tip"></div>
    </form>

</div> <!-- /container -->
</body>
</html>
